@import 'tailwindcss';

@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    display: flex;
}

#table-overlay {
    display: none;
}

.htmx-request #table-overlay,
.htmx-request.htmx-indicator#table-overlay {
    display: flex;
}

.login-page {
    background: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
